In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

pd.set_option('display.max_columns', None)

In [2]:
# Loading the dataset

main_file = pd.read_excel('../data/raw/Telco_customer_churn.xlsx')

In [3]:
# Initial Exploration

main_file.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [4]:
main_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

## Merging multiple excels

In [5]:
demographics_file = pd.read_excel('../data/raw/Telco_customer_churn_demographics.xlsx')
churn_status_file = pd.read_excel('../data/raw/Telco_customer_churn_status.xlsx')
services_file = pd.read_excel('../data/raw/Telco_customer_churn_services.xlsx') 

# Merge DataFrames based on the common key
data = pd.merge(main_file, demographics_file, on='CustomerID', how='outer',suffixes=('','_x'))

# Display the result DataFrame
data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Count_x,Gender_x,Age,Under 30,Senior Citizen_x,Married,Dependents_x,Number of Dependents
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,1,Male,37,No,No,No,No,0
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,1,Female,19,Yes,No,No,Yes,2
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,1,Female,31,No,No,No,Yes,2
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,1,Female,23,Yes,No,Yes,Yes,3
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,1,Male,38,No,No,No,Yes,1

In [6]:
# Drop duplicated columns that have a _x in its name
selected_columns_x = data.filter(regex='_x$', axis=1)
data = data.drop(columns=selected_columns_x)

In [7]:
# Merged the next dataset
data = pd.merge(data, churn_status_file, on='CustomerID', how='outer',suffixes=('','_x'))
data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Age,Under 30,Married,Number of Dependents,Satisfaction Score,Customer Status,Churn Label_x,Churn Value_x,Churn Score_x,CLTV_x,Churn Reason_x
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,37,No,No,0,1,Churned,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,19,Yes,No,2,2,Churned,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,31,No,No,2,3,Churned,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,23,Yes,Yes,3,3,Churned,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,38,No,No,1,1,Churned,Yes,1,89,5340,Competitor had better devices

In [8]:
#Drop
selected_columns_x = data.filter(regex='_x$', axis=1)
data = data.drop(columns=selected_columns_x)

In [9]:
#Merge
data = pd.merge(data, services_file, on='CustomerID', how='outer',suffixes=('','_x'))
data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Age,Under 30,Married,Number of Dependents,Satisfaction Score,Customer Status,Count_x,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service_x,Avg Monthly Long Distance Charges,Multiple Lines_x,Internet Service_x,Internet Type,Avg Monthly GB Download,Online Security_x,Online Backup_x,Device Protection Plan,Premium Tech Support,Streaming TV_x,Streaming Movies_x,Streaming Music,Unlimited Data,Contract_x,Paperless Billing_x,Payment Method_x,Monthly Charge,Total Charges_x,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,37,No,No,0,1,Churned,1,Q3,No,0,2,NaN,Yes,10.47,No,Yes,DSL,21,Yes,Yes,No,No,No,No,No,Yes,Month-to-Month,Yes,Credit Card,53.85,108.15,0.0,0,20.94,129.09
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,19,Yes,No,2,2,Churned,1,Q3,No,0,2,NaN,Yes,9.12,No,Yes,Fiber Optic,51,No,No,No,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,70.70,151.65,0.0,0,18.24,169.89
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,31,No,No,2,3,Churned,1,Q3,No,0,8,NaN,Yes,12.15,Yes,Yes,Cable,26,No,No,Yes,No,Yes,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,99.65,820.50,0.0,0,97.20,917.70
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,23,Yes,Yes,3,3,Churned,1,Q3,No,0,28,Offer C,Yes,4.89,Yes,Yes,Fiber Optic,47,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,104.80,3046.05,0.0,0,136.92,3182.97
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,38,No,No,1,1,Churned,1,Q3,No,0,49,NaN,Yes,44.33,Yes,Yes,Fiber Optic,11,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Month-to-Month,Yes,Bank Withdrawal,103.70,5036.30,0.0,0,2172.17,7208.47

In [10]:
#Drop
selected_columns_x = data.filter(regex='_x$', axis=1)
data = data.drop(columns=selected_columns_x)

In [11]:
#Final dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 56 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CustomerID                         7043 non-null   object
 1   Count                              7043 non-null   int64
 2   Country                            7043 non-null   object
 3   State                              7043 non-null   object
 4   City                               7043 non-null   object
 5   Zip Code                           7043 non-null   int64
 6   Lat Long                           7043 non-null   object
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Gender                             7043 non-null   object
 10  Senior Citizen                     7043 non-null   object
 11  Partner                            7043 non-null   object
 12  Dependents                         7043 non-null   object
 13  Tenure Months                      7043 non-null   int64
 14  Phone Service                      7043 non-null   object
 15  Multiple Lines                     7043 non-null   object
 16  Internet Service                   7043 non-null   object
 17  Online Security                    7043 non-null   object
 18  Online Backup                      7043 non-null   object
 19  Device Protection                  7043 non-null   object
 20  Tech Support                       7043 non-null   object
 21  Streaming TV                       7043 non-null   object
 22  Streaming Movies                   7043 non-null   object
 23  Contract                           7043 non-null   object
 24  Paperless Billing                  7043 non-null   object
 25  Payment Method                     7043 non-null   object
 26  Monthly Charges                    7043 non-null   float64
 27  Total Charges                      7043 non-null   object
 28  Churn Label                        7043 non-null   object
 29  Churn Value                        7043 non-null   int64
 30  Churn Score                        7043 non-null   int64
 31  CLTV                               7043 non-null   int64
 32  Churn Reason                       1869 non-null   object
 33  Age                                7043 non-null   int64
 34  Under 30                           7043 non-null   object
 35  Married                            7043 non-null   object
 36  Number of Dependents               7043 non-null   int64
 37  Satisfaction Score                 7043 non-null   int64
 38  Customer Status                    7043 non-null   object
 39  Quarter                            7043 non-null   object
 40  Referred a Friend                  7043 non-null   object
 41  Number of Referrals                7043 non-null   int64
 42  Tenure in Months                   7043 non-null   int64
 43  Offer                              3166 non-null   object
 44  Avg Monthly Long Distance Charges  7043 non-null   float64
 45  Internet Type                      5517 non-null   object
 46  Avg Monthly GB Download            7043 non-null   int64
 47  Device Protection Plan             7043 non-null   object
 48  Premium Tech Support               7043 non-null   object
 49  Streaming Music                    7043 non-null   object
 50  Unlimited Data                     7043 non-null   object
 51  Monthly Charge                     7043 non-null   float64
 52  Total Refunds                      7043 non-null   float64
 53  Total Extra Data Charges           7043 non-null   int64
 54  Total Long Distance Charges        7043 non-null   float64
 55  Total Revenue                      7043 non-null   float64
dtypes: float64(8), int64(13), object(35)
memory usage: 3.0+ MB

In [12]:
data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,Age,Under 30,Married,Number of Dependents,Satisfaction Score,Customer Status,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Avg Monthly Long Distance Charges,Internet Type,Avg Monthly GB Download,Device Protection Plan,Premium Tech Support,Streaming Music,Unlimited Data,Monthly Charge,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,37,No,No,0,1,Churned,Q3,No,0,2,NaN,10.47,DSL,21,No,No,No,Yes,53.85,0.0,0,20.94,129.09
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,19,Yes,No,2,2,Churned,Q3,No,0,2,NaN,9.12,Fiber Optic,51,No,No,No,Yes,70.70,0.0,0,18.24,169.89
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,31,No,No,2,3,Churned,Q3,No,0,8,NaN,12.15,Cable,26,Yes,No,Yes,Yes,99.65,0.0,0,97.20,917.70
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,23,Yes,Yes,3,3,Churned,Q3,No,0,28,Offer C,4.89,Fiber Optic,47,Yes,Yes,Yes,Yes,104.80,0.0,0,136.92,3182.97
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,38,No,No,1,1,Churned,Q3,No,0,49,NaN,44.33,Fiber Optic,11,Yes,No,Yes,Yes,103.70,0.0,0,2172.17,7208.47

## Cleaning data

In [13]:
# Lowercasing and adding _ between spaces

In [14]:
def snakecase_columns(df: pd.DataFrame) -> pd.DataFrame:
    
    snakecase_cols = []

    for col in df.columns:
        col = col.lower().replace(' ', '_')
        col = col.replace('neighborhood', 'neighbourhood')
        snakecase_cols.append(col)

    df.columns = snakecase_cols

    return df

In [15]:
snakecase_columns(data)

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,senior_citizen,partner,dependents,tenure_months,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason,age,under_30,married,number_of_dependents,satisfaction_score,customer_status,quarter,referred_a_friend,number_of_referrals,tenure_in_months,offer,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,device_protection_plan,premium_tech_support,streaming_music,unlimited_data,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,37,No,No,0,1,Churned,Q3,No,0,2,NaN,10.47,DSL,21,No,No,No,Yes,53.85,0.00,0,20.94,129.09
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,19,Yes,No,2,2,Churned,Q3,No,0,2,NaN,9.12,Fiber Optic,51,No,No,No,Yes,70.70,0.00,0,18.24,169.89
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,31,No,No,2,3,Churned,Q3,No,0,8,NaN,12.15,Cable,26,Yes,No,Yes,Yes,99.65,0.00,0,97.20,917.70
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,23,Yes,Yes,3,3,Churned,Q3,No,0,28,Offer C,4.89,Fiber Optic,47,Yes,Yes,Yes,Yes,104.80,0.00,0,136.92,3182.97
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,38,No,No,1,1,Churned,Q3,No,0,49,NaN,44.33,Fiber Optic,11,Yes,No,Yes,Yes,103.70,0.00,0,2172.17,7208.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,No,No,No,72,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306,NaN,30,No,No,0,5,Stayed,Q3,No,0,72,NaN,22.77,NaN,0,No,No,No,No,21.15,19.31,0,1639.44,3039.53
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,No,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,0,59,2140,NaN,38,No,Yes,2,3,Stayed,Q3,Yes,1,24,Offer C,36.05,Cable,24,Yes,Yes,Yes,Yes,84.80,48.23,0,865.20,2807.47
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560,NaN,30,No,Yes,2,4,Stayed,Q3,Yes,4,72,NaN,29.66,Fiber Optic,59,Yes,No,Yes,Yes,103.20,45.38,0,2135.52,9453.04
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,No,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN,32,No,Yes,2,4,Stayed,Q3,Yes,1,11,NaN,0.00,DSL,17,No,No,No,Yes,29.60,27.24,0,0.00,319.21
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,No,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097,NaN,44,No,No,0,4,Stayed,Q3,No,0,66,NaN,30.96,Fiber Optic,11,Yes,Yes,Yes,Yes,105.65,0.00,0,2043.36,8887.86

In [16]:
#Checking unique values of columns, to decide if they have data worth keeping for the models.

print(data['country'].unique())
print(data['state'].unique())
print(data['city'].unique())
print(data['partner'].unique())

['United States']
['California']
['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Standish' 'Tulelake'
 'Olympic Valley']
['No' 'Yes']

### Missing Values

In [17]:
# Checking missing values

nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

                          column_name  nulls_percentage
0                          customerid          0.000000
1                               count          0.000000
2                             country          0.000000
3                               state          0.000000
4                                city          0.000000
5                            zip_code          0.000000
6                            lat_long          0.000000
7                            latitude          0.000000
8                           longitude          0.000000
9                              gender          0.000000
10                     senior_citizen          0.000000
11                            partner          0.000000
12                         dependents          0.000000
13                      tenure_months          0.000000
14                      phone_service          0.000000
15                     multiple_lines          0.000000
16                   internet_service          0.000000
17                    online_security          0.000000
18                      online_backup          0.000000
19                  device_protection          0.000000
20                       tech_support          0.000000
21                       streaming_tv          0.000000
22                   streaming_movies          0.000000
23                           contract          0.000000
24                  paperless_billing          0.000000
25                     payment_method          0.000000
26                    monthly_charges          0.000000
27                      total_charges          0.000000
28                        churn_label          0.000000
29                        churn_value          0.000000
30                        churn_score          0.000000
31                               cltv          0.000000
32                       churn_reason          0.734630
33                                age          0.000000
34                           under_30          0.000000
35                            married          0.000000
36               number_of_dependents          0.000000
37                 satisfaction_score          0.000000
38                    customer_status          0.000000
39                            quarter          0.000000
40                  referred_a_friend          0.000000
41                number_of_referrals          0.000000
42                   tenure_in_months          0.000000
43                              offer          0.550476
44  avg_monthly_long_distance_charges          0.000000
45                      internet_type          0.216669
46            avg_monthly_gb_download          0.000000
47             device_protection_plan          0.000000
48               premium_tech_support          0.000000
49                    streaming_music          0.000000
50                     unlimited_data          0.000000
51                     monthly_charge          0.000000
52                      total_refunds          0.000000
53           total_extra_data_charges          0.000000
54        total_long_distance_charges          0.000000
55                      total_revenue          0.000000

In [18]:
nulls_percent_df[nulls_percent_df['nulls_percentage']!=0]

      column_name  nulls_percentage
32   churn_reason          0.734630
43          offer          0.550476
45  internet_type          0.216669

In [19]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.25]
columns_above_threshold['column_name']

32    churn_reason
43           offer
Name: column_name, dtype: object

In [20]:
# Dropping Offer Column, the description of the database just mentions Offer_A, Offer_B, etc, with no additional information about the Offer. We will drop it for now and check the model performance (so as to asses if potentially would be needed or not)
# churn_reason should be dropped as well, but I will drop it after with all the churn related fields

data = data.drop('offer', axis=1)
data.isna().sum()

customerid                              0
count                                   0
country                                 0
state                                   0
city                                    0
zip_code                                0
lat_long                                0
latitude                                0
longitude                               0
gender                                  0
senior_citizen                          0
partner                                 0
dependents                              0
tenure_months                           0
phone_service                           0
multiple_lines                          0
internet_service                        0
online_security                         0
online_backup                           0
device_protection                       0
tech_support                            0
streaming_tv                            0
streaming_movies                        0
contract                                0
paperless_billing                       0
payment_method                          0
monthly_charges                         0
total_charges                           0
churn_label                             0
churn_value                             0
churn_score                             0
cltv                                    0
churn_reason                         5174
age                                     0
under_30                                0
married                                 0
number_of_dependents                    0
satisfaction_score                      0
customer_status                         0
quarter                                 0
referred_a_friend                       0
number_of_referrals                     0
tenure_in_months                        0
avg_monthly_long_distance_charges       0
internet_type                        1526
avg_monthly_gb_download                 0
device_protection_plan                  0
premium_tech_support                    0
streaming_music                         0
unlimited_data                          0
monthly_charge                          0
total_refunds                           0
total_extra_data_charges                0
total_long_distance_charges             0
total_revenue                           0
dtype: int64

In [21]:
# Since 20% seems too much data to "fake" I will drop these rows, although they seem
# they would have a correlation with Churn. I will drop the rows to check correaltion matrix

data = data.dropna(subset=['internet_type'])
data.isna().sum()

customerid                              0
count                                   0
country                                 0
state                                   0
city                                    0
zip_code                                0
lat_long                                0
latitude                                0
longitude                               0
gender                                  0
senior_citizen                          0
partner                                 0
dependents                              0
tenure_months                           0
phone_service                           0
multiple_lines                          0
internet_service                        0
online_security                         0
online_backup                           0
device_protection                       0
tech_support                            0
streaming_tv                            0
streaming_movies                        0
contract                                0
paperless_billing                       0
payment_method                          0
monthly_charges                         0
total_charges                           0
churn_label                             0
churn_value                             0
churn_score                             0
cltv                                    0
churn_reason                         3761
age                                     0
under_30                                0
married                                 0
number_of_dependents                    0
satisfaction_score                      0
customer_status                         0
quarter                                 0
referred_a_friend                       0
number_of_referrals                     0
tenure_in_months                        0
avg_monthly_long_distance_charges       0
internet_type                           0
avg_monthly_gb_download                 0
device_protection_plan                  0
premium_tech_support                    0
streaming_music                         0
unlimited_data                          0
monthly_charge                          0
total_refunds                           0
total_extra_data_charges                0
total_long_distance_charges             0
total_revenue                           0
dtype: int64

In [22]:
#I found out that total_charges couldnt be converted to float, so im exploring it and I find there are 11 blank spaces

data['total_charges'].value_counts()

total_charges
45.3       6
           5
69.65      4
74.7       4
69.95      4
          ..
1406       1
1373.05    1
2878.55    1
3959.15    1
6844.5     1
Name: count, Length: 5259, dtype: int64

In [23]:
#I filter the blank spaces

filtered_df = data[data['total_charges'].str.contains(r'\s', na=False)]

In [24]:
filtered_df.shape

(5, 55)

In [25]:
rows_to_drop = filtered_df.index

In [26]:
#Drop blank spaces in total_charges

data = data.drop(rows_to_drop)

### Changing Datatypes

In [27]:
#Changing data types

data['total_charges'] = data['total_charges'].astype('float64')
data['satisfaction_score'] = data['satisfaction_score'].astype('object')

In [28]:
data.shape

(5512, 55)

### Saving the original dataset

In [29]:
#Saving original dataset in a new df

full_data = data.copy()

### Dropping columns

In [30]:
# Dropping columns that have no valuable information for the model or are duplicated columns (with a similar but different name)

columns_to_drop = ['customerid','country','state','zip_code','lat_long','latitude','longitude','quarter','count','age','city','internet_service','device_protection_plan','tech_support', 'tenure_months', 'monthly_charges', 'partner']

data = data.drop(columns_to_drop, axis=1)

In [31]:
data.head()

,gender,senior_citizen,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason,under_30,married,number_of_dependents,satisfaction_score,customer_status,referred_a_friend,number_of_referrals,tenure_in_months,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,premium_tech_support,streaming_music,unlimited_data,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,Male,No,No,Yes,No,Yes,Yes,No,No,No,Month-to-month,Yes,Mailed check,108.15,Yes,1,86,3239,Competitor made better offer,No,No,0,1,Churned,No,0,2,10.47,DSL,21,No,No,Yes,53.85,0.0,0,20.94,129.09
1,Female,No,Yes,Yes,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,Yes,1,67,2701,Moved,Yes,No,2,2,Churned,No,0,2,9.12,Fiber Optic,51,No,No,Yes,70.70,0.0,0,18.24,169.89
2,Female,No,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,820.50,Yes,1,86,5372,Moved,No,No,2,3,Churned,No,0,8,12.15,Cable,26,No,Yes,Yes,99.65,0.0,0,97.20,917.70
3,Female,No,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,3046.05,Yes,1,84,5003,Moved,Yes,Yes,3,3,Churned,No,0,28,4.89,Fiber Optic,47,Yes,Yes,Yes,104.80,0.0,0,136.92,3182.97
4,Male,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),5036.30,Yes,1,89,5340,Competitor had better devices,No,No,1,1,Churned,No,0,49,44.33,Fiber Optic,11,No,Yes,Yes,103.70,0.0,0,2172.17,7208.47

In [32]:
#Dropping columns of related to churn (just keeping y = churn_value)

columns_to_drop_churn = ['churn_label','churn_score','churn_reason','customer_status', 'churn_reason']
data = data.drop(columns_to_drop_churn, axis=1)
data.head()

,gender,senior_citizen,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,total_charges,churn_value,cltv,under_30,married,number_of_dependents,satisfaction_score,referred_a_friend,number_of_referrals,tenure_in_months,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,premium_tech_support,streaming_music,unlimited_data,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,Male,No,No,Yes,No,Yes,Yes,No,No,No,Month-to-month,Yes,Mailed check,108.15,1,3239,No,No,0,1,No,0,2,10.47,DSL,21,No,No,Yes,53.85,0.0,0,20.94,129.09
1,Female,No,Yes,Yes,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,1,2701,Yes,No,2,2,No,0,2,9.12,Fiber Optic,51,No,No,Yes,70.70,0.0,0,18.24,169.89
2,Female,No,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,820.50,1,5372,No,No,2,3,No,0,8,12.15,Cable,26,No,Yes,Yes,99.65,0.0,0,97.20,917.70
3,Female,No,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,3046.05,1,5003,Yes,Yes,3,3,No,0,28,4.89,Fiber Optic,47,Yes,Yes,Yes,104.80,0.0,0,136.92,3182.97
4,Male,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),5036.30,1,5340,No,No,1,1,No,0,49,44.33,Fiber Optic,11,No,Yes,Yes,103.70,0.0,0,2172.17,7208.47

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5512 entries, 0 to 7042
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             5512 non-null   object
 1   senior_citizen                     5512 non-null   object
 2   dependents                         5512 non-null   object
 3   phone_service                      5512 non-null   object
 4   multiple_lines                     5512 non-null   object
 5   online_security                    5512 non-null   object
 6   online_backup                      5512 non-null   object
 7   device_protection                  5512 non-null   object
 8   streaming_tv                       5512 non-null   object
 9   streaming_movies                   5512 non-null   object
 10  contract                           5512 non-null   object
 11  paperless_billing                  5512 non-null   object
 12  payment_method                     5512 non-null   object
 13  total_charges                      5512 non-null   float64
 14  churn_value                        5512 non-null   int64
 15  cltv                               5512 non-null   int64
 16  under_30                           5512 non-null   object
 17  married                            5512 non-null   object
 18  number_of_dependents               5512 non-null   int64
 19  satisfaction_score                 5512 non-null   object
 20  referred_a_friend                  5512 non-null   object
 21  number_of_referrals                5512 non-null   int64
 22  tenure_in_months                   5512 non-null   int64
 23  avg_monthly_long_distance_charges  5512 non-null   float64
 24  internet_type                      5512 non-null   object
 25  avg_monthly_gb_download            5512 non-null   int64
 26  premium_tech_support               5512 non-null   object
 27  streaming_music                    5512 non-null   object
 28  unlimited_data                     5512 non-null   object
 29  monthly_charge                     5512 non-null   float64
 30  total_refunds                      5512 non-null   float64
 31  total_extra_data_charges           5512 non-null   int64
 32  total_long_distance_charges        5512 non-null   float64
 33  total_revenue                      5512 non-null   float64
dtypes: float64(6), int64(7), object(21)
memory usage: 1.5+ MB

In [35]:
data.isna().sum()

gender                               0
senior_citizen                       0
dependents                           0
phone_service                        0
multiple_lines                       0
online_security                      0
online_backup                        0
device_protection                    0
streaming_tv                         0
streaming_movies                     0
contract                             0
paperless_billing                    0
payment_method                       0
total_charges                        0
churn_value                          0
cltv                                 0
under_30                             0
married                              0
number_of_dependents                 0
satisfaction_score                   0
referred_a_friend                    0
number_of_referrals                  0
tenure_in_months                     0
avg_monthly_long_distance_charges    0
internet_type                        0
avg_monthly_gb_download              0
premium_tech_support                 0
streaming_music                      0
unlimited_data                       0
monthly_charge                       0
total_refunds                        0
total_extra_data_charges             0
total_long_distance_charges          0
total_revenue                        0
dtype: int64

## Saving to csv files

In [36]:
# Exporting cleaned dataset to a csv file

full_data.to_csv('../data/cleaned/full_data.csv', index=False)
data.to_csv('../data/cleaned/data.csv', index=False)